  
<table class="table table-striped table-hover ">
<thead>
<tr  ><th > ID</th><th > 会员号</th><th > 会员类型</th><th > 注册时间</th>
</tr>
</thead>

<tbody>
{volist name='show' id='user'}
  
    <tr  ><th> {$user.id} </th><td> <a href="{$Think.server.script_name}/index/bbs/view/id/{$user.id} ">{$user.phone|substr=0,3}****{$user.phone|substr=7,4}</a></td><td> {$user.rand? 'VIP' : '普通会员'} </td><td>  {$user.create_time}</td> </tr>
{/volist}
 
</tbody>
</table>
 <span id="txtHint{$Think.get.page+1}"></span>
  

 

 
 