<!DOCTYPE html>
<html>
<head>
  <title>Jack</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tp5简易留言板</title>
  
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">  
  <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    
</head>
<body>
  <div class="col-xs-2 sidebarContainer">123
<aside class="sidebar">
<!-- 菜单代码 -->菜单
</aside>
</div>

<div class="col-xs-10 mainContainer container-fluid" style="height:100%;overflow: auto;">
    <div class="row mainRow">
  主体
       </div>456
</div>
 </body>
 </html>