{include file="index/header" /}


 <div class="panel panel-default">
  <div class="panel-heading"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> 最新留言：</div>
  <div class="panel-body">
     <form action="{$Think.server.script_name}/index/bbs/add" method="post">
  <div class="form-group" >
    <!-- <label for="exampleInputName2">留言标题title:</label> -->
    <input type="hidden" class="form-control" id="shop" name="shop" value="2" placeholder="请输入留言标题" maxlength="100">
     
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">留言内容:</label>
   <textarea class="form-control" rows="3"  id="title" name="title"  value="" placeholder="请输入留言内容"></textarea>
  </div>

  <div class="row">
  <div class="col-xs-2">
    <input name="captcha" type="text" class="form-control"  placeholder="请输入验证码">
  </div>
  <div class="col-xs-3">
     <img id="codesrc" style="  border: 1px solid #ccc;padding: 1px;border-radius:4px;" onclick="this.src='{:captcha_src()}'"  src="{:captcha_src()}">   
                                 <a href="javascript:" onclick="document.getElementById('codesrc').src='{:captcha_src()}'" >换一张</a>
  </div>


 


 
</div>
  <button type="submit" class="btn btn-primary" style="margin-top: 20px">发布留言</button>

</form>
	 
    <table class="table table-striped table-hover">
    <thead>
    <tr  ><th > ID</th> <th > 课堂笔记/评论</th><th > 用户</th><th > 发布时间</th>
    </tr>
    </thead>

    <tbody>
    {volist name='show' id='user'}
      
    <tr  ><th> {$user.id} </th> <td> <a href="{$Think.server.script_name}/index/index/view/id/{$user.shop} ">{$user.title|mb_substr=0,20,'utf-8' }</a></td><td>  {$user.user.phone|substr=0,3}****{$user.user.phone|substr=7,4}</td><td>  {$user.create_time}</td> </tr>
    {/volist}
    </tbody>
    </table>
    {$show->render()}


   
 
  </div>
</div>
 

{include file="index/footer" /}